
/* gere la police d'écriture du site */
body{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
    padding:0;
    background-color: #e0f1e3;
}

/* centre les titres */
h1{
	text-align: center;
}

/* met en forme la liste qui sert de menu en haut de la page */
div.entete{
	display:block;
	float:left; 
	background-image: linear-gradient(to bottom, #5d6d7e, white);
	text-decoration:none;
	border:1px solid;

	border-color:#5d6d7e;  
	text-align: center;
	width : 103%;
	margin-left: -2%;
	margin-top: 0%;
	
}


/* met en forme le div principal du programme,
utilisé dans plusieurs fois comme objet central de la page */
div.basediv{
	display:block;
	float:left; 
	background-image: linear-gradient(to bottom right, #5d6d7e, white);
	text-decoration:none;
	padding:5px;
	border:1px solid;
	width: 40%;
	border-color:darkgreen;  
	text-align: center;
	margin-left: 29%;
	border-radius: 10px;
	margin-top: 5%;
}

/* met en ligne la liste  */
ul.listefixe{
	display: inline;
}

/* aligne la liste  */
li{
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
}



/* met en ligne la liste  */

input{
	text-align: center;
	border-radius: 20px;
	padding: 5px;
	border: none;
}

/* met en forme les boutons et les inputs du site  */
input.btn, button.btn{
	background-color: #236126;
	/*arrondis les bords des boutons*/
	border-radius: 20px;
	text-align: center;
	padding: 5px;
	border : none;
	color: white;
}
/*change la couleur du bouton si on passe la souris dessus*/

.btn:hover{
	background-color: #2c7c2f;
}

/*met en forme les liens du menu-liste*/
a.head {
	border:1px solid;

	border-color: darkgreen #168b16 darkgreen #168b16;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 7%;
	margin-top: -3px;
	margin-bottom: -3px;
	background-image: linear-gradient(to bottom, #34495e, white);
}

/*met en forme les liens du menu-liste dans le cas de la page de
connexion*/
a.headisable{
	border:1px solid;

	border-color: darkgreen #168b16 darkgreen #168b16;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 7%;
	margin-top: -3px;
	margin-bottom: -3px;
	background-image: linear-gradient(to bottom, #34495e, white);
	opacity: 0.1
}

/*change l'aspect des liens du menu lorsque la souris passe
dessus*/
a.head:hover, a.head:active {
	background-image: linear-gradient(to top, #34495e, white);
  
}

/*change la couleur de fond des liens du menu*/
#jeu, #profil, #messagerie, #joueurs{
	background-image: linear-gradient(to top, #34495e, white);
}

/*sépare les cases des tableaux par des bordures*/
.latable, th, td{
  border: 1px solid black;
}

/*agrandis les cases des tableaux*/
td{
	width: 20%;
}

/* aligne les champs des formulaires*/
label{
    display: block;
	width: 100%;
	float: left;
}